/* Mobile and Tablet  */
@media (max-width: 1023px) {
    :root {
        --navbar-height: -12px;
        --header-height: 68px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
    }
    .app__container {
        margin-top: var(--header-height);
    }
    .home-product__pagination {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
        margin-top: 8px;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}

